:root {
  --negro: #030303;
  --accent: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  --accent2: #ff5858;
  --accent3: #f09819;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
  background-blend-mode: multiply, multiply;

  /* FOR DARKMODE */
  /* background-image: linear-gradient(to right, #434343 0%, black 100%); */

  color: white;
  /* color: #c5c6c7; */
  /* background-image: url('./img/enlarge_bjj2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* --------------------------------------------------------------------------- */
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 2px solid white;
}

.navbar h1 {
  margin-left: 30px;
  color: var(--accent3);
}

.navbar h1:hover {
  color: var(--accent2);
  transform: scale(1.01);
  transition: 700ms all;
  cursor: pointer;
}

.navList {
  display: flex;
  gap: 30px;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
}

.navList li {
  list-style: none;
}

.unactive {
  color: white;
}

.active {
  color: white;
}

.navList i:hover {
  color: var(--accent2);
  transform: scale(1.1);
  transition: 700ms all;
  cursor: pointer;
}

/* --------------------------------------------------------------------------- */
/* LOGIN / SIGNUP */
/* .login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 30px;
  border-radius: 30px;
}

.login input {
  text-align: center;
  margin: 5px;
}

.signup {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  margin-bottom: 30px;
}

.signup input {
  text-align: center;
  margin: 5px;
} */

.container {
  margin: 0 auto;
  margin-top: 100px;
  background-color: #0B0C10;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(209, 209, 209, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container button {
  background-color: transparent;
  color: white;
  font-size: 12px;
  padding: 10px 45px;
  border: 2px solid #1F2833;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container button:hover {
  background-color: transparent;
  border: 1px solid #66fcf1;
  color: #66fcf1;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.container .boton {
  background-color: #66fcf1;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden {
  background-color: transparent;
  color: #1F2833;
  border-color: white;
  transition: all 0.3s ease-in-out;
}

.container button.hidden:hover {
  background-color: #1F2833;
  color: #45a29e;
  transition: all 0.3s ease-in-out;
  transform: scale(1.03);
}

.container form {
  background-color: #0B0C10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background-color: #1f2833;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 1s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 1s;
}

@keyframes move {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 1s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
  color: #1F2833;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: #66fcf1;
  height: 100%;
  padding-top: 1px;
  background: linear-gradient(to right, #45a29e, #66fcf1);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}



/* --------------------------------------------------------------------------- */
/* PROFILE */





/* --------------------------------------------------------------------------- */
/* FEED */

.card-container {
  background-image: linear-gradient(to right, #434343 0%, black 100%);;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.card-user-info {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.card-user-info img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 10px;
  border: 3px solid var(--accent2);
}

.card-user-info h3 {
  color: var(--accent2);
}

.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 10px 0 10px;
  height: 30px;
}

.caption h2 {
  font-size: 15px;
}

.like-comment {
  color: var(--accent2);
  margin-left: 10px;
  font-size: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.like-comment .boton:hover {
  transform: scale(1.05);
  color: #f09819;
  transition: all 0.2s ease-in-out;
}

.like-comment .b-activate {
  align-items: center;
  text-align: center;
}

.like-comment .count {
  margin-left: 1px;
  margin-right: 6px;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

/* --------------------------------------------------------------------------- */
/* COMMENTS */
.comment-container {
  background-image: var(--accent);
  border-radius: 0 0 6px 6px;
}

.comment-container p {
  margin-left: 10px;
}

.comment-info {
  display: flex;
}

.comment-info .u-name {
  font-weight: 600;
}